// Fonts

// Medium
@font-face {
    font-family: 'gilroyMD';
    src: url("../../assets/fonts/Gilroy-Medium.ttf");
  }

  // SemiBold
  @font-face {
    font-family: 'gilroySemiBold';
    src: url("../../assets/fonts/Gilroy-SemiBold.ttf");
  }

   // Bold
   @font-face {
    font-family: 'gilroyBold';
    src: url("../../assets/fonts/Gilroy-Bold.ttf");
  }

